<header>
  <nav>
    <mat-form-field class="example-full-width">
      <mat-label>Vote as</mat-label>
      <mat-select [(ngModel)]="userId">
        <mat-option value="1002">John</mat-option>
        <mat-option value="1003">Alice</mat-option>
        <mat-option value="1004">Bob</mat-option>
        <mat-option value="1005">Eve</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-mini-fab
      color="primary"
      aria-label="Example icon button with a menu icon"
      (click)="handleAdd()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </nav>
</header>
<main>
  <app-card
    class="card"
    *ngFor="let story of stories"
    [story]="story"
    (storyDeleted)="onStoryDeleted(story.id)"
    (openUpdateForm)="onOpenUpdateForm(story)"
    (newVote)="onNewVote($event, story.id)"
  />

  <app-form
    class="form"
    *ngIf="openForm"
    [story]="editStory"
    [editMode]="editMode"
    (closeForm)="onCloseForm()"
    (storyUpdated)="onStoryUpdated($event)"
    (storyAdded)="onStoryAdded($event)"
  ></app-form>
</main>
